<table class="table table-bordered">
    <thead>
        <tr>
            <th>姓名</th>
            <th>用户名</th>
            <th>性别</th>
			<th>所属部门</th>
			<th>职位</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
		#foreach($user in $pageList)
        <tr>
            <td>$!{user.name}</td>
            <td>$!{user.userName}</td>
			<td>$!{user.sex}</td>
			<td>$!{user.deptName}</td>
			<td>$!{user.position}</td>
            <td>$!dateUtils.formatDateTime($!{user.createTime})</td>
            <td>
				<button onclick="del('$!{user.userName}');" type="button" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i> 删除</button>
				<button onclick="getInfo('$!{user.userName}');" type="button" class="btn btn-success btn-xs"><i class="fa fa-eye"></i> 查看</button>
            </td>
        </tr>
		#end
    </tbody>
</table>
<div>
	#set($pageModule = $mainModule.getTarget("/user/page-list.do").addQueryData("name",$!params.get("name")).addQueryData("userName",$!params.get("userName")).addQueryData("sex",$!params.get("sex")))
	#showAjaxPage($pageModule $pageList)
</div>
