<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>CR-PMP</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link href="/style/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style/css/font-awesome.min.css" rel="stylesheet">
    <link href="/style/css/animate.min.css" rel="stylesheet">
    <link href="/style/css/style.min.css" rel="stylesheet">
</head>
<body class="fixed-sidebar full-height-layout gray-bg mini-navbar" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" style="width:64px;height:64px;" class="img-circle" src="$!{userInfo.portraitUrl}" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">$!{userInfo.name}</strong></span>
                                <span class="text-muted text-xs block">$!{userInfo.position}<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a id="updPW" href="#">修改密码</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/logout.do">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">CR
                        </div>
                    </li>
					#foreach($nav1 in $treeNav)
                    <li>
						#if($!{nav1.type}=="DYNAMIC")
						<a href="$!{nav1.url}" #if($nav1.navList.size()==0) class="J_menuItem" #end>
						#else
                        <a href="#" #if($nav1.navList.size()==0) class="J_menuItem" #end>
						#end
							<i class="fa fa-$!{nav1.icon}"></i> 
							<span class="nav-label">$!{nav1.name}</span>
							#if($nav1.navList.size()>0)
							<span class="fa arrow"></span>
							#end
						</a>
						#foreach($nav2 in $nav1.navList)
                        <ul class="nav nav-second-level">
                            <li>
                                #if($!{nav2.type}=="DYNAMIC")
        						<a href="$!{nav2.url}" #if($nav2.navList.size()==0) class="J_menuItem" #end>
        						#else
                                <a href="#" #if($nav2.navList.size()==0) class="J_menuItem" #end>
        						#end
									$!{nav2.name} 
									#if($nav2.navList.size()>0)
        							<span class="fa arrow"></span>
        							#end
								</a>
								#foreach($nav3 in $nav2.navList)
                                <ul class="nav nav-third-level">
                                    <li>
										#if($!{nav3.type}=="DYNAMIC")
										<a class="J_menuItem" href="$!{nav3.url}">
										#else
										<a class="J_menuItem" href="#">
										#end
											$!{nav3.name} 
										</a>
                                    </li>
                                </ul>
								#end
                            </li>
                        </ul>
						#end
                    </li>
					#end
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="http://www.zi-han.net/theme/hplus/search_results.html">
                            <div class="form-group">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li class="m-t-xs">
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">46小时前</small>
                                            <strong>小四</strong> 这个在日本投降书上签字的军官，建国后一定是个不小的干部吧？
                                            <br>
                                            <small class="text-muted">3天前 2014.11.8</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="img/a4.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">25小时前</small>
                                            <strong>国民岳父</strong> 如何看待“男子不满自己爱犬被称为狗，刺伤路人”？——这人比犬还凶
                                            <br>
                                            <small class="text-muted">昨天</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a class="J_menuItem" href="mailbox.html">
                                            <i class="fa fa-envelope"></i> <strong> 查看所有消息</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="mailbox.html">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> 您有16条未读消息
                                            <span class="pull-right text-muted small">4分钟前</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html">
                                        <div>
                                            <i class="fa fa-qq fa-fw"></i> 3条新回复
                                            <span class="pull-right text-muted small">12分钟钱</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a class="J_menuItem" href="notifications.html">
                                            <strong>查看所有 </strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="/nav/index.do">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="/logout.do" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/nav/index.do" frameborder="0" data-id="/nav/index.do" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">&copy; 2014-2015 CR-PMP</a>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
	
	<div class="modal inmodal" id="updPWModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                    </button>
                    <h5>修改密码</h5>
                </div>
                <div class="modal-body">
                    <form id="updPWForm" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="oldPW" placeholder="请输入原密码" name="oldPW" type="text" class="form-control input-sm"/>
                            </div>
                        </div>
						<div class="form-group">
                            <div class="col-sm-12">
                                <input id="newPW" placeholder="请输入新密码" name="newPW" type="text" class="form-control input-sm"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input id="userName" type="hidden" value="$!{userInfo.userName}" />
					<button id="updPWbtn" type="button" class="btn btn-primary btn-block">保存</button>
                    <button id="updPWclose" type="button" class="btn btn-white btn-block" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/style/js/jquery.min.js"></script>
    <script src="/style/js/bootstrap.min.js"></script>
    <script src="/style/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/style/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/style/js/plugins/layer/layer.min.js"></script>
    <script src="/style/js/hplus.min.js"></script>
    <script src="/style/js/contabs.min.js"></script>
    <script src="/style/js/plugins/pace/pace.min.js"></script>
	<script src="/style/js/index.js"></script>
</body>
</html>
