<table class="table table-bordered">
    <thead>
        <tr>
            <th>部门ID</th>
            <th>部门名称</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
		#foreach($dept in $pageList)
        <tr>
            <td>$!{dept.id}</td>
            <td>$!{dept.name}</td>
            <td>$!dateUtils.formatDateTime($!{dept.createTime})</td>
            <td>
				<button onclick="queryById($!{dept.id});" type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#updModal"><i class="fa fa-paste"></i> 编辑</button>
				<button onclick="del($!{dept.id});" type="button" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i> 删除</button>
			</td>
        </tr>
		#end
    </tbody>
</table>
<div>
	#set($pageModule = $mainModule.getTarget("/dept/page-list.do").addQueryData("name",$!params.get("name")).addQueryData("parentId",$!params.get("parentId")))
	#showAjaxPage($pageModule $pageList)
</div>
