<table class="table table-bordered">
    <thead>
        <tr>
            <th>菜单名称</th>
            <th>菜单等级</th>
            <th>菜单类型</th>
			<th>菜单序号</th>
			<th>菜单图标</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
		#foreach($nav in $pageList)
        <tr>
            <td>$!{nav.name}</td>
            <td>$!{nav.level}级</td>
            <td>
				#if($!{nav.type}=="STATIC")
					静态菜单
				#elseif($!{nav.type}=="DYNAMIC")
					动态菜单
				#end
			</td>
			<td>$!{nav.sequence}</td>
			<td>
				<i class="fa fa-$!{nav.icon}"></i> 
			</td>
            <td>$!dateUtils.formatDateTime($!{nav.createTime})</td>
            <td>
				<button onclick="del($!{nav.id});" type="button" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i> 删除</button>
            </td>
        </tr>
		#end
    </tbody>
</table>
<div>
	#set($pageModule = $mainModule.getTarget("/nav/page-list.do").addQueryData("name",$!params.get("name")).addQueryData("level",$!params.get("level")))
	#showAjaxPage($pageModule $pageList)
</div>
