<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd "
	default-autowire="byName">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:props/*.properties</value>
			</list>
		</property>
	</bean>
	<!-- 注解传播形式 -->
	<context:component-scan base-package="com.cr.pmp.**" />
	<import resource="spring/spring-config-datasource.xml" />
	<import resource="spring/spring-config-dao.xml" />
	<import resource="spring/spring-config-manager.xml" />
	<import resource="spring/spring-config-mvc.xml" />
	<import resource="spring/spring-config-utils.xml" />

</beans>