<table class="table table-bordered">
    <thead>
        <tr>
            <th>产品名称</th>
            <th>产品代码</th>
            <th>产品负责人</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
		#foreach($product in $pageList)
        <tr>
            <td>$!{product.name}</td>
            <td>$!{product.code}</td>
			<td>$!{product.leaderName}</td>
            <td>$!dateUtils.formatDateTime($!{product.createTime})</td>
            <td>
				<button onclick="del($!{product.id});" type="button" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i> 删除</button>
				<button onclick="getInfo($!{product.id});" type="button" class="btn btn-success btn-xs"><i class="fa fa-eye"></i> 查看</button>
            </td>
        </tr>
		#end
    </tbody>
</table>
<div>
	#set($pageModule = $mainModule.getTarget("/product/page-list.do").addQueryData("name",$!params.get("name")).addQueryData("code",$!params.get("code")))
	#showAjaxPage($pageModule $pageList)
</div>
