.board {
	display: block;
	white-space: nowrap;
	width: 100%;
	overflow: auto;
	height: 88%;
	padding: 10px;
}

.boardli {
	display: block;
	display: inline-block;
	width: 288px;
	border: 1px solid #e7eaec;
	background-color: #fff;
	height: 100%;
	margin-right: 10px;
	padding: 15px 20px 20px;
	overflow: hidden;
	white-space: normal;
}

.subtaskcss {
	word-wrap: break-word;
	word-break: break-all;
	width: 260px;
	height: 100px;
	overflow: auto;
}