<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//xml.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cr.pmp.dao.navigation.NavigationDao">

	<sql id="fields">
		id,
		name,
		url,
		icon,
		sequence,
		createTime,
		modifyTime
	</sql>

	<sql id="tableName">
		cr_pmp_navigation
	</sql>

	<select id="queryNavPageList" parameterType="java.util.Map"
		resultType="navigation">
		SELECT
		<include refid="fields" />
		FROM
		<include refid="tableName" />
		<where>
			<if test="name!=null and name!=''">
				AND name LIKE CONCAT('%',#{name},'%' )
			</if>
		</where>
		ORDER BY sequence ASC LIMIT #{startRow},#{pageSize}
	</select>
	<select id="queryCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT
		COUNT(id)
		FROM
		<include refid="tableName" />
		<where>
			<if test="name!=null and name!=''">
				AND name LIKE CONCAT('%',#{name},'%' )
			</if>
		</where>
	</select>
	<select id="queryAllNav" resultType="navigation">
		SELECT
		<include refid="fields" />
		FROM
		<include refid="tableName" />
		ORDER BY sequence ASC
	</select>
	<insert id="addNav" parameterType="navigation">
		INSERT
		<include refid="tableName" />
		(name,url,icon,sequence,createTime,modifyTime)
		VALUES
		(#{name},#{url},#{icon},#{sequence},now(),now())
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
	</insert>
	<delete id="delNav" parameterType="java.lang.Integer">
		DELETE
		FROM
		<include refid="tableName" />
		WHERE id=#{id}
	</delete>
</mapper>