<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//xml.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cr.pmp.dao.product.ProductDao">


	<sql id="fields">
		id,
		name,
		code,
		leader,
		productDescribe,
		fileUrl,
		createTime,
		modifyTime
	</sql>

	<sql id="tableName">
		cr_pmp_product
	</sql>

	<select id="queryProductPageList" parameterType="java.util.Map"
		resultType="product">
		SELECT
		cpp.id AS id,
		cpp.name AS name,
		cpp.code AS code,
		cpp.leader AS
		leader,
		cpu.name AS leaderName,
		cpp.createTime AS createTime
		FROM
		cr_pmp_product AS cpp
		LEFT JOIN
		cr_pmp_user AS cpu
		ON
		cpp.leader=cpu.userName
		<where>
			<if test="code!=null and code!=''">
				AND cpp.code=#{code}
			</if>
			<if test="name!=null and name!=''">
				AND cpp.name LIKE CONCAT('%',#{name},'%' )
			</if>
		</where>
		ORDER BY cpp.id DESC LIMIT #{startRow},#{pageSize}
	</select>
	<select id="queryCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT
		COUNT(id)
		FROM
		<include refid="tableName" />
		<where>
			<if test="code!=null and code!=''">
				AND code=#{code}
			</if>
			<if test="name!=null and name!=''">
				AND name LIKE CONCAT('%',#{name},'%' )
			</if>
		</where>
	</select>
	<insert id="addProduct" parameterType="product">
		INSERT
		<include refid="tableName" />
		(name,code,leader,productDescribe,fileUrl,createTime,modifyTime)
		VALUES
		(#{name},#{code},#{leader},#{productDescribe},#{fileUrl},now(),now())
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
	</insert>

	<select id="queryProductInfo" parameterType="java.lang.Integer"
		resultType="product">
		SELECT
		<include refid="fields" />
		FROM
		<include refid="tableName" />
		WHERE id=#{id}
	</select>

	<delete id="delProduct" parameterType="java.lang.Integer">
		DELETE
		FROM
		<include refid="tableName" />
		WHERE id=#{id}
	</delete>
</mapper>