<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//xml.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cr.pmp.dao.project.ProjectDao">

	<resultMap type="project" id="projectMap">
		<result property="id" column="id" />
		<result property="status" column="status" />
		<result property="name" column="name" />
		<result property="createTime" column="createTime" />
		<result property="modifyTime" column="modifyTime" />
		<association property="masterTaskCount" column="id"
			select="queryMasterTaskCount" />
		<association property="subTaskCount" column="id"
			select="querySubTaskCount" />
		<association property="leaguerCount" column="id"
			select="queryLeaguerCount" />
	</resultMap>

	<sql id="fields">
		id,
		name,
		status,
		createTime,
		modifyTime
	</sql>

	<sql id="leaguerFields">
		id,
		pid,
		userName,
		createTime,
		modifyTime
	</sql>

	<sql id="tableName">
		cr_pmp_project
	</sql>

	<sql id="leaguerTableName">
		cr_pmp_project_leaguer
	</sql>

	<sql id="userTableName">
		cr_pmp_user
	</sql>

	<sql id="deptTableName">
		cr_pmp_dept
	</sql>

	<sql id="taskTableName">
		cr_pmp_task
	</sql>

	<sql id="subTaskTableName">
		cr_pmp_sub_task
	</sql>

	<select id="queryProjectPageList" parameterType="java.util.Map"
		resultMap="projectMap">
		SELECT
		<include refid="fields" />
		FROM
		<include refid="tableName" />
		<where>
			<if test="status!=null and status!=0">
				AND status=#{status}
			</if>
			<if test="name!=null and name!=''">
				AND name LIKE CONCAT('%',#{name},'%' )
			</if>
		</where>
		ORDER BY id DESC LIMIT #{startRow},#{pageSize}
	</select>
	<select id="queryCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT
		COUNT(id)
		FROM
		<include refid="tableName" />
		<where>
			<if test="status!=null and status!=0">
				AND status=#{status}
			</if>
			<if test="name!=null and name!=''">
				AND name LIKE CONCAT('%',#{name},'%' )
			</if>
		</where>
	</select>
	<insert id="addProject" parameterType="project" keyProperty="id"
		useGeneratedKeys="true">
		INSERT
		<include refid="tableName" />
		(name,status,createTime,modifyTime)
		VALUES
		(#{name},#{status},now(),now())
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
	</insert>
	<select id="queryProjectLeguer" parameterType="java.lang.Integer"
		resultType="projectLeaguer">
		SELECT
		cppl.id AS id,
		cppl.pid AS pid,
		cpu.userName AS userName,
		cpu.name
		AS name,
		cpu.position AS
		position,
		cpd.name AS deptName
		FROM
		<include refid="leaguerTableName" />
		AS cppl
		LEFT JOIN
		<include refid="userTableName" />
		AS cpu
		ON cppl.userName = cpu.userName
		LEFT JOIN
		<include refid="deptTableName" />
		AS cpd
		ON cpu.deptId = cpd.id
		WHERE cppl.pid=#{pid}
		ORDER BY cppl.id DESC
	</select>
	<insert id="addProjectLeguer" parameterType="projectLeaguer">
		INSERT
		<include refid="leaguerTableName" />
		(pid,userName,createTime,modifyTime)
		VALUES
		(#{pid},#{userName},now(),now())
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
	</insert>
	<delete id="delProjectLeguer" parameterType="java.lang.Integer">
		DELETE
		FROM
		<include refid="leaguerTableName" />
		WHERE id=#{id}
	</delete>
	<select id="queryProjectLeguerByUser" parameterType="java.util.Map"
		resultType="projectLeaguer">
		SELECT
		<include refid="leaguerFields" />
		FROM
		<include refid="leaguerTableName" />
		WHERE pid=#{pid} AND userName=#{userName}
	</select>

	<select id="queryMasterTaskCount" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		SELECT COUNT(id) FROM
		<include refid="taskTableName" />
		WHERE pid=#{pid}
	</select>
	<select id="querySubTaskCount" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		SELECT COUNT(id) FROM
		<include refid="subTaskTableName" />
		WHERE pid=#{pid}
	</select>
	<select id="queryLeaguerCount" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		SELECT COUNT(id) FROM
		<include refid="leaguerTableName" />
		WHERE pid=#{pid}
	</select>
</mapper>