<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//xml.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cr.pmp.dao.task.TaskDao">

	<resultMap type="taskBoard" id="taskBoardMap">
		<result property="id" column="id" />
		<result property="pid" column="pid" />
		<result property="name" column="name" />
		<result property="createTime" column="createTime" />
		<result property="modifyTime" column="modifyTime" />
		<association property="tasks" column="id" select="queryTaskByTbid" />
	</resultMap>

	<resultMap type="task" id="taskMap">
		<result property="id" column="id" />
		<result property="pid" column="pid" />
		<result property="name" column="name" />
		<result property="tbid" column="tbid" />
		<result property="performer" column="performer" />
		<result property="endDate" column="endDate" />
		<result property="priority" column="priority" />
		<result property="remarks" column="remarks" />
		<result property="performerName" column="performerName" />
		<result property="createTime" column="createTime" />
		<result property="modifyTime" column="modifyTime" />
		<association property="subTasks" column="id" select="querySubTaskByTid" />
	</resultMap>

	<sql id="taskBoardFields">
		id,
		pid,
		name,
		createTime,
		modifyTime
	</sql>

	<sql id="taskFields">
		id,
		pid,
		tbid,
		name,
		performer,
		endDate,
		priority,
		remarks,
		createTime,
		modifyTime
	</sql>

	<sql id="subTaskFields">
		id,
		tid,
		tbid,
		pid,
		name,
		remarks,
		performer,
		endDate,
		createTime,
		modifyTime
	</sql>

	<sql id="taskBoardTableName">
		cr_pmp_task_board
	</sql>

	<sql id="taskTableName">
		cr_pmp_task
	</sql>

	<sql id="subTaskTableName">
		cr_pmp_sub_task
	</sql>

	<sql id="userTableName">
		cr_pmp_user
	</sql>

	<select id="queryTaskBoardByPid" parameterType="java.lang.Integer"
		resultMap="taskBoardMap">
		SELECT
		<include refid="taskBoardFields" />
		FROM
		<include refid="taskBoardTableName" />
		WHERE pid=#{pid} ORDER BY id ASC
	</select>

	<select id="queryTaskByTbid" parameterType="java.lang.Integer"
		resultType="task">
		SELECT
		cpt.id AS id,
		cpt.pid AS pid,
		cpt.tbid AS tbid,
		cpt.name AS name,
		cpt.performer AS performer,
		cpt.endDate AS endDate,
		cpt.priority AS
		priority,
		cpt.remarks AS remarks,
		cpt.createTime AS createTime,
		cpt.modifyTime AS modifyTime,
		cpu.name AS performerName
		FROM
		<include refid="taskTableName" />
		AS cpt
		LEFT JOIN
		<include refid="userTableName" />
		AS cpu
		ON cpt.performer=cpu.userName
		WHERE cpt.tbid=#{tbid} ORDER BY
		cpt.endDate ASC
	</select>

	<select id="queryTaskByPid" parameterType="java.lang.Integer"
		resultMap="taskMap">
		SELECT
		cpt.id AS id,
		cpt.pid AS pid,
		cpt.tbid AS tbid,
		cpt.name AS name,
		cpt.performer AS performer,
		cpt.endDate AS endDate,
		cpt.priority AS
		priority,
		cpt.remarks AS remarks,
		cpt.createTime AS createTime,
		cpt.modifyTime AS modifyTime,
		cpu.name AS performerName
		FROM
		<include refid="taskTableName" />
		AS cpt
		LEFT JOIN
		<include refid="userTableName" />
		AS cpu
		ON cpt.performer=cpu.userName
		WHERE cpt.pid=#{pid} ORDER BY
		cpt.endDate ASC
	</select>

	<select id="querySubTaskByTid" parameterType="java.lang.Integer"
		resultType="subTask">
		SELECT
		cpst.id AS id,
		cpst.tid AS tid,
		cpst.tbid AS tbid,
		cpst.pid AS pid,
		cpst.name AS name,
		cpst.remarks AS remarks,
		cpst.performer AS performer,
		cpst.endDate AS endDate,
		cpst.createTime AS createTime,
		cpst.modifyTime
		AS modifyTime,
		cpu.name AS performerName
		FROM
		<include refid="subTaskTableName" />
		AS cpst
		LEFT JOIN
		<include refid="userTableName" />
		AS cpu
		ON cpst.performer=cpu.userName
		WHERE cpst.tid=#{tid} ORDER BY
		cpst.endDate ASC
	</select>

	<select id="queryTaskById" parameterType="java.lang.Integer"
		resultType="task">
		SELECT
		<include refid="taskFields" />
		FROM
		<include refid="taskTableName" />
		WHERE id=#{id}
	</select>

	<insert id="addTaskBoard" parameterType="taskBoard">
		INSERT
		<include refid="taskBoardTableName" />
		(pid,name,createTime,modifyTime)
		VALUES
		(#{pid},#{name},now(),now())
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
	</insert>

	<insert id="addTask" parameterType="task">
		INSERT
		<include refid="taskTableName" />
		(pid,tbid,name,performer,endDate,priority,remarks,createTime,modifyTime)
		VALUES
		(#{pid},#{tbid},#{name},#{performer},#{endDate},#{priority},#{remarks},now(),now())
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
	</insert>

	<update id="updTask" parameterType="task">
		UPDATE
		<include refid="taskTableName" />
		SET modifyTime=now()
		<if test="tbid!=null">
			,tbid=#{tbid}
		</if>
		<if test="name!=null and name!=''">
			,name=#{name}
		</if>
		<if test="performer!=null and performer!=''">
			,performer=#{performer}
		</if>
		<if test="endDate!=null and endDate!=''">
			,endDate=#{endDate}
		</if>
		<if test="priority!=null and priority!=0">
			,priority=#{priority}
		</if>
		<if test="remarks!=null and remarks!=''">
			,remarks=#{remarks}
		</if>
		WHERE id=#{id}
	</update>
	<insert id="addSubTask" parameterType="subTask">
		INSERT
		<include refid="subTaskTableName" />
		(tid,tbid,pid,name,performer,endDate,remarks,createTime,modifyTime)
		VALUES
		(#{tid},#{tbid},#{pid},#{name},#{performer},#{endDate},#{remarks},now(),now())
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
	</insert>
	<delete id="delTaskBoard" parameterType="java.lang.Integer">
		DELETE FROM
		<include refid="taskBoardTableName" />
		WHERE id=#{id}
	</delete>
	<delete id="delTask" parameterType="java.lang.Integer">
		DELETE FROM
		<include refid="taskTableName" />
		WHERE id=#{id}
	</delete>
	<delete id="delSubTask" parameterType="java.lang.Integer">
		DELETE FROM
		<include refid="subTaskTableName" />
		WHERE id=#{id}
	</delete>
	<delete id="delTaskByTBid" parameterType="java.lang.Integer">
		DELETE FROM
		<include refid="taskTableName" />
		WHERE tbid=#{tbid}
	</delete>
	<delete id="delSubTaskByTBid" parameterType="java.lang.Integer">
		DELETE FROM
		<include refid="subTaskTableName" />
		WHERE tbid=#{tbid}
	</delete>
	<delete id="delSubTaskByTid" parameterType="java.lang.Integer">
		DELETE FROM
		<include refid="subTaskTableName" />
		WHERE tid=#{tid}
	</delete>
</mapper>